<section >
  <div class="container">
    <div class="row">
      <div class="col-lg-12 " >
        <div class="text-center header position-relative mx-auto  me-auto">
            <h2 class="position-absolute w-100">FOR ADMIN <span>ONLY</span></h2>
            <span class="RESUME">LOgIN</span>
        </div>
    </div>
    </div>
  </div>

  <div >
    <div   >
      <div class="login-container mx-auto  ">
        <h3>Enter your admin information</h3>
        <form action="" #myForm="ngForm" (ngSubmit)="submitData(myForm)">
          <div class="admine-email">
            <input type="text" placeholder="YOUR EMAIL" name="email" ngModel>
          </div>
          <div class="">
            <input type="password" placeholder="YOUR PASSWORD" name="password" ngModel>
          </div>
          <div class="submit-btn">
            <button class="my-btn mx-auto "type="submit"  >
              <span><i class="fa-solid fa-paper-plane"></i></span>

              submit
          </button>
          </div>
        </form>






      </div>
    </div>
  </div>

  <div  #alert  class="alert alert-danger">
    <div class="alert-container">
      <i class="fa-solid fa-circle-exclamation"></i>
      <p class="m-0">your email or password is incorrect</p>
    </div>

  </div>
</section>

