<header>
    <ul class="nav-container list-unstyled m-0 " >
        <li class="nav-item position-relative" (click)="GoSlide()"  routerLink="/home" >
            <a class="nav-link text-decoration-none d-flex align-items-center ">
                <span class="my-link-name">HOME</span>
                <div class="my-icon" routerLinkActive="active-link">
                    <i class="fa-solid fa-house"></i>
                </div>

            </a>
        </li>
        <li class="nav-item position-relative" (click)="GoSlide()" routerLink="/about" >
            <a class="nav-link text-decoration-none">
                <span class="my-link-name">ABOUT</span>
                <div class="my-icon" routerLinkActive="active-link">
                    <i class="fa-solid fa-user"></i>
                </div>


            </a>
        </li>
        <li class="nav-item position-relative" (click)="GoSlide()" routerLink="/portfolio">
            <a class="nav-link text-decoration-none">
                <span class="my-link-name">PORTFOLIO</span>
                <div class="my-icon" routerLinkActive="active-link">
                    <i class="fa-solid fa-briefcase"></i>
                </div>


            </a>
        </li>
        <li class="nav-item position-relative" (click)="GoSlide()" routerLink="/contact" >
            <a class="nav-link text-decoration-none">
                <span class="my-link-name">CONTACT  </span>
                <div class="my-icon" routerLinkActive="active-link">
                    <i class="fa-solid fa-envelope"></i>
                </div>


            </a>
        </li>
        <li class="nav-item position-relative" (click)="GoSlide()" routerLink="/login" >
            <a class="nav-link text-decoration-none">
                <span class="my-link-name">Login</span>
                <div class="my-icon" routerLinkActive="active-link">
                  <i class="fa-solid fa-right-to-bracket"></i>
                </div>


            </a>
        </li>
    </ul>
</header>
